<h2>My OC (original character).</h2>
<div class="row is-hidden-mobile">
<img src="/img/comet/pfpsketch.png" id="cometprev" alt="A drawing of a head of an anthropomorphic dog with floppy ears, an oval-like-shaped head, wearing a yellow cape, body colors are light yellow and brown, with brown spots on the head and some parts of the chest, said character can be seen behind a sunset." width="14%" height="auto">
<div class="container" id="comet-about" style="padding-left: 1%;">
    <div class="container" style="text-align:left;">
<h2>Comet<br><span style="font-size:medium;">they/them</span><br></h2>
    </div>
<p style="text-align:left;">An adventurous and energetic, yet socially awkward dog, saved multiple times from life-threatening situations due to their chaotic curiosity. Has ADHD (Inattentive & Hyperactive), is aroace and likes hotdogs. Origins are unknown.</p>
</div>
</div>
<div class="is-hidden-widescreen">
    <img src="/img/comet/pfpsketch.png" alt="A drawing of a head of an anthropomorphic dog with floppy ears, an oval-like-shaped head, wearing a yellow cape, body colors are light yellow and brown, with brown spots on the head and some parts of the chest, said character can be seen behind a sunset." style="max-width: 100%; height: auto;">
    <h2>Comet<br><span style="font-size:medium;">they/them</span><br></h2>
    <p>An adventurous and energetic, yet socially awkward dog, saved multiple times from life-threatening situations due to their chaotic curiosity. Has ADHD (Inattentive & Hyperactive), is aroace and likes hotdogs. Origins are unknown.</p>
</div>
<!-- inline sheet styling, only touch for debug -->
 <!-- man css is so buggy istg -->
<style>
#comet-about {
    width:50%;
}
#cometprev {
    display:flex;
}
</style>
<p>&nbsp;</p>
<h2>Some more info</h2>
<ul style="text-align: left; padding-left: 10%; gap:3px;">
    <li><b>Date of Birth</b>: May 16, 2008</li>
    <li><b>Place of residence</b>: Fucking, Horiland</li>
    <li><b>NID (National Identity Document) Number</b>: 65a-2008-1110</li>
    <li><b>Species</b>: Dog [Cocker Spaniel]</li>
    <li><b>Personality</b>: Caring, energetic, silly.</li>
    <li><b>Likes</b>: hugs, pets and emotional support.</li>
    <li><b>Dislikes</b>: pretty much anything that can make him mad.</li>
    <li>Knows alot about IT and can also break tech the ways you have never seen before&trade; (i have never been so proud :'))</li>
    <li><b>Family? Parents?</b>: Unknown data.</li>
    <li><b>very fire qoute:</b>"woof" - Comet, 2010</li>
</ul>
