<h2>Welcome! 👋</h2>
<P>This is Horibyte's personal website, feel free to explore this whenever you want!</P>
<p>&NonBreakingSpace;</p>
<h3>Where do you want to go today?</h3>
<p><a href="https://youtube.com/@stuffyxp"><button><i class="fa-brands fa-youtube"></i>&nbsp;YouTube Channel</button></a>&nbsp;<a href="https://wetdry.world/@horibyte"><button><i class="fa-brands fa-mastodon"></i>&nbsp;Mastodon Profile</button></a>&nbsp;<a href="https://bsky.app/profile/horibyte.is-a.dev"><button><i class="fab fa-bluesky"></i>&nbsp;Bluesky Profile</button></a>&nbsp;<a href="https://discord.gg/5n8sDTR37v"><button><i class="fab fa-discord"></i>&nbsp;Discord Server</button></a></p>
<p>&nbsp;</p>
<h3>Featured Videos</h3>
<p>A list of videos that show off what my work is.</p>
<div class="container is-hidden-mobile" id="featured-videos-dt">
    <div class="row">
        <iframe width="380" height="215" src="https://www.youtube.com/embed/IPZfS6C_a-4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="380" height="215" src="https://www.youtube.com/embed/aelGNQekZIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <iframe width="380" height="215" src="https://www.youtube.com/embed/FlCzQW10Eso?si=sfbnqrQUFnfoIQZc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
    <div class="row-text">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Geometry Dash... on Windows Vista!?&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <p>Is the Intel Pentium F00F bug possible on 86Box?</p>
        <p>Haiku - The modern implementation for BeOS!</p>
    </div>
        </div>
        <div class="container is-hidden-widescreen">
            <div class="column">
            <iframe width="100%" height="215" src="https://www.youtube.com/embed/IPZfS6C_a-4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p id="ftvid-text-mob">Geometry Dash... on Windows Vista?</p>
        </div>
        <div class="column">
            <iframe width="100%" height="215" src="https://www.youtube.com/embed/aelGNQekZIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p id="ftvid-text-mob">Is the Intel Pentium F00F bug possible on 86Box?</p>
            </div>
            <div class="column">
            <iframe width="100%" height="215" src="https://www.youtube.com/embed/FlCzQW10Eso?si=sfbnqrQUFnfoIQZc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <p id="ftvid-text-mob">Haiku - The modern implementation for BeOS!</p>
            <div class="column">
                <iframe width="100%" height="215" src="https://www.youtube.com/embed/FlCzQW10Eso?si=sfbnqrQUFnfoIQZc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                <p id="ftvid-text-mob">Haiku - The modern implementation for BeOS!</p>
        </div>
        </div>
    </div>
    </div>
    </div>
</div>