<h2>Projects 💻</h2>
<p>Projects i've worked on for the past few months.</p>
<div class="container is-hidden-mobile">
    <div class="row">
      <div class="box" id="social-boxes2">
          <div class="container" id="sbcontent">
          <div class="container row">
              <img src="/img/yt.svg" alt="YouTube Logo" width="64px" height="64px" id="sicon">
              <div class="container column" id="stitle">
              <h3 id="sotitle">YouTube</h3>
                  <p id="sosubtitle">The HoriNetwork™</p>
          </div>
          </div>
          <p id="sdesc">Just my YT channel lol</p>
          <div class="container" id="sb-button">
          
          <a href="https://youtube.com/channel/UCuHn-sArJperbeAU_s5VokQ"><button id="sb-button"><i class="fas fa-arrow-up-right-from-square"></i> Horibyte</button></a>

      </div>
      <p style="font-size: 4px;">&nbsp;</p>
      
          </div>
      </div>
      <div class="box" id="social-boxes2">
          <div class="container" id="sbcontent">
          <div class="container row">
              <img src="/img/favicon.png" alt="Horibyte Logo" width="64px" height="64px" id="sicon2">
              <div class="container column" id="stitle">
              <h3 id="sotitle">Website</h3>
                  <p id="sosubtitle">horibyte.is-a.dev</p>
          </div>
          </div>
          <p id="sdesc">My own personal website!</p>
          <div class="container" id="sb-button">
          <a href="https://github.com/horibyte/horibyte.github.io"><button id="sb-button"><i class="fas fa-arrow-up-right-from-square"></i> Source Code</button></a><a href="https://retro.horibyte.is-a.dev"><button id="sb-button"><i class="fas fa-arrow-up-right-from-square"></i> Retro Front-end</button></a>
      </div>
      </div>
</div>
<div class="box" id="social-boxes2">
    <div class="container" id="sbcontent">
    <div class="container row">
        <img src="https://horibyte.is-a.dev/stuffyxp-website/img/favicon.png" alt="Windows XP Logo" width="64px" height="64px" id="sicon2">
        <div class="container column" id="stitle">
        <h3 id="sotitle">Website (legacy)</h3>
            <p id="sosubtitle">StuffyXP Website</p>
    </div>
    </div>
    <p id="sdesc">The website i had before rebranding to Horibyte</p>
    <div class="container" id="sb-button">
    <a href="https://github.com/horibyte/stuffyxp-website"><button id="sb-button"><i class="fas fa-arrow-up-right-from-square"></i> Source Code</button></a>
    <a href="/stuffyxp-website"><button id="sb-button"><i class="fas fa-arrow-up-right-from-square"></i> Visit</button></a>
</div>
</div>
</div>
    </div>
  </div>
  <p>&nbsp;</p>
  <div class="container is-hidden-widescreen">
      <div class="box">
          <div class="container" id="mb-sbicon">
              <img src="/img/yt.svg" alt="YouTube Logo" width="64px" height="64px" style="justify-content: center; position: relative; margin: 0 auto; display:block;">
          </div>
          <h3 style="text-align: center;">YouTube</h3>
          <p style="text-align: center;">The HoriNetwork™</p>
          <p style="text-align: center;">Just my YT channel lol</p>
          
          <a href="https://youtube.com/channel/UCuHn-sArJperbeAU_s5VokQ"><button id="sb-button"><i class="fas fa-arrow-up-right-from-square"></i> Horibyte</button></a>

          
      </div>
      <p>&nbsp;</p>
      <div class="box">
        <div class="container" id="mb-sbicon">
            <img src="/img/favicon.png" alt="Horibyte Logo" width="64px" height="64px" style="justify-content: center; position: relative; margin: 0 auto; display:block;">
        </div>
        <h3 style="text-align: center;">Website</h3>
        <p style="text-align: center;">horibyte.is-a.dev</p>
        <p style="text-align: center;">My own personal website!</p>
        <a href="https://github.com/horibyte/horibyte.github.io" style="text-decoration: none !important;"><button id="sb-button" style="justify-content: center;position: relative;margin: 0 auto;display: block;"><i class="fas fa-arrow-up-right-from-square"></i> Source Code</button></a>
        <a href="/retro-site" style="text-decoration: none !important;"><button id="sb-button" style="justify-content: center;position: relative;margin: 0 auto;display: block;"><i class="fas fa-arrow-up-right-from-square"></i> Retro Front-end</button></a>
    </div>
    <p>&nbsp;</p>
    <div class="box">
        <div class="container" id="mb-sbicon">
            <img src="https://horibyte.is-a.dev/stuffyxp-website/img/favicon.png" alt="Windows XP Logo" width="64px" height="64px" style="justify-content: center; position: relative; margin: 0 auto; display:block;">
        </div>
        <h3 style="text-align: center;">Website (legacy)</h3>
        <p style="text-align: center;">StuffyXP Website</p>
        <p style="text-align: center;">The website i had before rebranding to Horibyte</p>
        <a href="https://github.com/horibyte/stuffyxp-website" style="text-decoration: none !important;"><button id="sb-button" style="justify-content: center;position: relative;margin: 0 auto;display: block;"><i class="fas fa-arrow-up-right-from-square"></i> Source Code</button></a>
        <a href="/stuffyxp-website"><button id="sb-button"><i class="fas fa-arrow-up-right-from-square"></i> Visit</button></a>
    </div>
  </div>
  <p>&nbsp;</p>
